
.calculator{
  border-radius: 25px; /*Rounded corners*/
  margin:0 auto;
  background-color: #e0d9d7;
  top:50%;
  left:50%;
  width: 500px;
  height: 700px;
  margin-top: 50px;

}

.screen{
margin-top: 50px;
margin-left: 50px;
border-radius: 25px;
position: relative;
background-color: #f5f771;
text-align: right;
font-size: 26px;
font-weight: bold;
width:400px;
height:60px;
}

.buttons{
	margin-top: 100px;
	margin-left: 70px;
	width:400px;
	height: 500px;
}

.buttons button{
	margin-top: 15px;
	margin-left: 15px;
	position: relative;
	background-color: gray;
	font-size: 50px;
	color:black;
	width:70px;
	height:70px;
	

}

#del{

	width: 100px;
}